#home-hero {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	position: relative;
	// border: $gutter-width/2 black solid;
	display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $gutter-width;
}

#hero-menu {
	h1 {
		@include font-size(25);
		text-transform: uppercase;
		margin-bottom: 0;
		padding: $gutter-width/2;
	}
}

@include media('>phablet') {
	#hero-menu {
		h1 {
			@include font-size(30);
		}
	}
}

.light-theme {
	#hero-menu {
		color: #fff;
	}
}
