#big-block {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	h1 {
		color: $white;
		font-size: 3rem;
		text-align: center;
		margin-bottom: 0;
	}
}

#hero-image {
	position: fixed;
	object-fit: cover;
	z-index: -10;
	overflow: hidden;
	top: 0;
	height: 100vh;
	object-position: center;
}

#mini-menu {
	margin: 0 auto;
	bottom: 2em;
	right: 2em;
	position: absolute;
}