.grid {
	overflow: hidden;

	.grid-item {
		width: 100%;
		margin-bottom: $grid-spacer;
		position: relative;

		&:hover {
			.grid-item-interior {
				opacity: 1;
			}
		}

		.grid-item-interior {
			position: absolute;
			top: $grid-spacer/2;
			bottom: $grid-spacer/2;
			left: $grid-spacer/2;
			right: $grid-spacer/2;
			background: $black;

			opacity: 0;
			transition: opacity .5s $easeOutQuad;
			display: flex;
		  align-items: center;
		  justify-content: center;

			.grid-image-title {
				top: 40%;
				color: #f3f3f3;
				text-align: center;
				@include font-size(24);
				letter-spacing: 0.2px;
				margin-bottom: 0;
				padding: $gutter-width;
			}
		}
	}
}

@include media('>phablet') {
	.grid {
		margin-right: -$grid-spacer;
	}
	.grid .grid-item {
		width: calc(50% - #{$grid-spacer});
	}
}
@include media('>desktop') {
	.grid .grid-item {
		width: calc(33.333% - #{$grid-spacer});
	}
}