.nav-icon {
	left: 50%;
	top: 25%;
	width: 25px;
	position: absolute;
	@include transform(translate3d(-50%, -50%, 0) rotate(0deg));
	transition: .5s ease-in-out;
	cursor: pointer;
}

.nav-icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 50%;
	background: $gray-darker;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.nav-icon span:nth-child(even) {
	left: 50%;
}

.nav-icon span:nth-child(odd) {
	left: 0px;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(2) {
	top: 0px;
}

.nav-icon span:nth-child(3),
.nav-icon span:nth-child(4) {
	top: 10px;
}

.nav-icon span:nth-child(5),
.nav-icon span:nth-child(6) {
	top: 20px;
}

.nav-is-open .nav-icon span:nth-child(1),
.nav-is-open .nav-icon span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-is-open .nav-icon span:nth-child(2),
.nav-is-open .nav-icon span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-is-open .nav-icon span:nth-child(1) {
	left: 2px;
	top: 5px;
}

.nav-is-open .nav-icon span:nth-child(2) {
	left: calc(50% - 2px);
	top: 5px;
}

.nav-is-open .nav-icon span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

.nav-is-open .nav-icon span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

.nav-is-open .nav-icon span:nth-child(5) {
	left: 2px;
	top: 14px;
}

.nav-is-open .nav-icon span:nth-child(6) {
	left: calc(50% - 2px);
	top: 14px;
}
