@import 'hamburger';

/* MAIN NAV PANEL */

#nav-main {
	position: fixed;
	top: 0;
	height: 100%;
	background: $black;
	@include transform(translateX(-100%));
	transition: transform .4s $easeInOutCubic;
	z-index: map-get($z-index, 'four');
	width: 75vw;
	.nav-inner {
		// ul
		margin-top: 170px;
		list-style: none;
		.menu-item {
			// li
			padding: .4em .2em .4em 3em;
			margin-bottom: 0;
			a {
				color: $white;
				@include font-size(25);
				text-transform: capitalize;
				text-decoration: none;
			}
		}
		.current_page_item {
			background-color: $gray-darker;
			a {
				color: $white;
			}
		}
	}
}

#nav-toggle {
	position: fixed;
	border: solid 2px $gray-darker;
	width: 50px;
	height: 50px;
	right: $gutter-width;
	top: $gutter-width;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	transition: transform 0.5s;
	z-index: map-get($z-index, 'three');
}

#nav-logo {
	z-index: map-get($z-index, 'five');
	position: fixed;
	top: $gutter-width;
	left: $gutter-width;
	color: $gray-darker;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 23px;
	text-transform: uppercase;
	transition: color 0.5s, transform 0.5s;
	width: 50%;
	img { // in case it's the logo
		width: auto;
		height: 3.6rem;
		margin-top: -4px;
	}
}

// hide navigation and title on scroll
@include media('<tablet') {
	.ui-hidden {
		#nav-logo, #nav-toggle {
			@include transform(translateY(-200px));
		}
	}
}

.nav-social-links {
	position: absolute;
	bottom: 0;
	left: $gutter-width;
	right: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;

	ul {
		text-align: center;
		list-style: none;
	}
	li {
		line-height: 0px;
		display: inline-block;
	}
	img {
		width: 40px;
	}
}


/* Dismiss Overlay */

#dismiss-overlay {
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: map-get($z-index, 'two');
	pointer-events: none;
	background-color: $black;
	opacity: 0;
	@include transition(opacity .5s ease-in-out 0ms);
}


/* OPEN LOGIC */

.nav-is-open {
	#nav-main {
		@include transform(translateX(0));
	}
	#nav-logo {
		color: #fff;
	}
	#dismiss-overlay {
		opacity: 0.7;
		pointer-events: all;
	}
}
@include media('>phablet') {
	#nav-main .nav-inner .menu-item a {
		@include font-size(30);
	}
	.nav-social-links img {
		width: 50px;
	}
}

@include media('>desktop') {
	#nav-main {
		@include transform(translateX(0));
		width: 23vw;
		.nav-inner .menu-item a {
			@include font-size(25);
		}
	}
	#nav-toggle {
		display: none;
	}
	#nav-logo {
		top: $gutter-width * 1.1;
		width: 18vw;
		color: #fff;
	}
	#content, footer {
		margin-left: 23vw;
	}
	.nav-is-open #dismiss-overlay {
		opacity: 0;
		pointer-events: none;
	}
	.home:not(.paged) #nav-main {
		@include transform(translateX(-100%));
	}
	.home #nav-main.desktop-show-nav {
		@include transform(translateX(0));
	}
}

/* PAGINATION */

.page-navigation {

	ul {
		width: 100%;
		text-align: center;
		li {
			display:inline-block;	
			padding:0px 10px;
			a {
				color: #222;
				text-decoration: none;
			}
		}
	}
}
