@import 'hamburger';
// nav height mobile
#content {
	margin-top: $nav-height;
}


/* MAIN NAV PANEL */

#nav-main {
	position: fixed;
	top: 0;
	height: 100%;
	background: $white;
	@include transform(translateX(-100%));
	transition: transform .4s $easeInOutCubic;
	z-index: map-get($z-index, 'four');
	width: 75vw;
	.nav-inner {
		// ul
		margin-top: 170px;
		list-style: none;
		.menu-item {
			// li
			padding: .4em .2em .4em 3em;
			margin-bottom: 0;
			a {
				color: $gray-darker;
				@include font-size(40);
				text-transform: capitalize;
				text-decoration: none;
			}
		}
		.current_page_item {
			background-color: $gray-darker;
			a {
				color: $white;
			}
		}
	}
}

#nav-toggle {
	position: absolute;
	border: solid 2px $gray-darker;
	width: 50px;
	height: 50px;
	right: $gutter-width;
	top: $gutter-width;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	transition: transform 0.5s;
	z-index: map-get($z-index, 'three');
}

#nav-logo {
	z-index: map-get($z-index, 'five');
	position: absolute;
	top: $gutter-width;
	left: $gutter-width;
	color: $gray-darker;
	text-decoration: none;
	font-size: 23px;
	text-transform: uppercase;
	width: 50%;
	img {
		width: 5rem;
	}
}


/* Dismiss Overlay */

#dismiss-overlay {
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: map-get($z-index, 'two');
	pointer-events: none;
	background-color: $black;
	opacity: 0;
	@include transition(opacity .5s ease-in-out 0ms);
}


/* OPEN LOGIC */

.nav-is-open {
	#nav-main {
		@include transform(translateX(0));
	}
	#dismiss-overlay {
		opacity: 0.7;
		pointer-events: all;
	}
}

@include media('>desktop') {
	#nav-main {
		@include transform(translateX(0));
		background-color: transparent;
		width: 20vw;
		.nav-inner .menu-item a {
			@include font-size(20);
		}
	}
	#nav-toggle {
		display: none;
	}
	#nav-logo {
		top: $gutter-width * 1.1;
		width: 18vw;
	}
	#content {
		margin-top: $gutter-width;
		margin-left: 20vw;
	}
}