a:link,
a:visited:link {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
p a {
	color: $brand;
	&:hover {
		color: $black;
		background-color: $brand-hover;
	}
	&:visited {
		color: $brand-light;
		&:hover {
			color: black;
		}
	}
	&:focus {

	}
}
